<div class="navbar-lewagon" >
  <div>
    <%= link_to "My List", lists_path  %>  <%= link_to "New list", new_list_path  %>
  </div>
</div>
<div class="banner-image">this is a list</div>
<ol>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %>
    </li>
  <% end %>
</ol>
